In [1]:
import numpy as np
import pandas as pd
import xarray as  xr
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

/home/disk/sipn/mcmcgraw/anaconda3/lib/python3.7/site-packages/dask/config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
/home/disk/sipn/mcmcgraw/anaconda3/lib/python3.7/site-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

Load reforecasts

In [7]:
model_name = 'ukmetofficesipn'
#model_name = 'ukmo'
model_type = 'reforecast'
no_day_change = 5

filepath_save = '/home/disk/sipn/mcmcgraw/data/VRILE/'
if model_name == 'ecmwf':
    filenames_full = glob.glob(filepath_save+'{model_name}_{model_type}_SIE_ONLY_lead_time*.csv'.format(model_name=model_name,
                                                                                                                           model_type=model_type,
                                                                                                                           d_days=no_day_change))
    fname_test = pd.read_csv(filenames_full[0])
    d_SIE = pd.DataFrame(columns=fname_test.columns)
    for ifile in np.arange(0,len(filenames_full)):
        i_ds = pd.read_csv(filenames_full[ifile])
        if ifile == 0:
            d_SIE = i_ds
        else:
            d_SIE = d_SIE.append(i_ds)
#    
else:
    filename_full = filepath_save+'{model_name}_{model_type}_SIE_ONLY_lead_time_ALL_REGIONS_ALL_ENS.csv'.format(model_name=model_name,
                       model_type=model_type,d_days=no_day_change)
    d_SIE = pd.read_csv(filename_full)
    #d_SIE_all = d_SIE.drop(columns='lead time (V - I)')
d_SIE_all=  d_SIE.dropna()
d_SIE_all.head()

,Unnamed: 0,I (init date),V (valid date),V_mon (valid date month),V_yr (valid date year),SIE,lead time (days),ensemble,region
0,0,1993-01-09,1993-01-09 00:00:00,1,1993,13.333369,0,1,panArctic
1,0,1993-01-09,1993-01-10 00:00:00,1,1993,13.383551,1,1,panArctic
2,0,1993-01-09,1993-01-11 00:00:00,1,1993,13.439473,2,1,panArctic
3,0,1993-01-09,1993-01-12 00:00:00,1,1993,13.521269,3,1,panArctic
4,0,1993-01-09,1993-01-13 00:00:00,1,1993,13.604640,4,1,panArctic

Now load observations from NSIDC bootstrap

In [8]:
obs_name = 'NSIDC_0079'
obs_type = 'sipn_nc_yearly_agg'
obs_filename = '/home/disk/sipn/mcmcgraw/data/VRILE/{model_name}_{model_type}_SIE_d_SIE_{d_days}day_change_lead_time_ALL_REGIONS_ALL_ENS.csv'.format(model_name=obs_name,
                       model_type=obs_type,d_days=no_day_change)
SIE_obs = pd.read_csv(obs_filename)
SIE_obs = SIE_obs.dropna()
#SIE_obs.tail()

Get lists of regions and lead days from model data.

In [23]:
regions = d_SIE_all['region'].unique().tolist() #list unique regions
lead_days = d_SIE_all['lead time (days)'].unique().tolist() #list lead days
init_dates = d_SIE_all['I (init date)'].unique().tolist()

Select a region

In [21]:
i_reg = 0
SIE_model_reg_groups = d_SIE_all.groupby(['region'])
SIE_obs_reg_groups = SIE_obs.groupby(['region'])
SIE_model_reg_sel = SIE_model_reg_groups.get_group(regions[i_reg])
SIE_obs_reg_sel = SIE_obs_reg_groups.get_group(regions[i_reg])

,Unnamed: 0,I (init date),V (valid date),V_mon (valid date month),V_yr (valid date year),SIE,lead time (days),ensemble,region
3131900,0,2015-12-25,2016-07-22 00:00:00,7,2016,7.537315,210,7,panArctic
3131901,0,2015-12-25,2016-07-23 00:00:00,7,2016,7.440657,211,7,panArctic
3131902,0,2015-12-25,2016-07-24 00:00:00,7,2016,7.318141,212,7,panArctic
3131903,0,2015-12-25,2016-07-25 00:00:00,7,2016,7.196687,213,7,panArctic
3131904,0,2015-12-25,2016-07-26 00:00:00,7,2016,7.109629,214,7,panArctic

Now, select an ensemble for the model

In [22]:
i_ens = 1
SIE_ens_groups = SIE_model_reg_sel.where(SIE_model_reg_sel['ensemble']==i_ens)
SIE_ens_groups.dropna().tail()

,Unnamed: 0,I (init date),V (valid date),V_mon (valid date month),V_yr (valid date year),SIE,lead time (days),ensemble,region
3130610,0.0,2015-12-25,2016-07-22 00:00:00,7.0,2016.0,7.381917,210.0,1.0,panArctic
3130611,0.0,2015-12-25,2016-07-23 00:00:00,7.0,2016.0,7.369361,211.0,1.0,panArctic
3130612,0.0,2015-12-25,2016-07-24 00:00:00,7.0,2016.0,7.369062,212.0,1.0,panArctic
3130613,0.0,2015-12-25,2016-07-25 00:00:00,7.0,2016.0,7.319725,213.0,1.0,panArctic
3130614,0.0,2015-12-25,2016-07-26 00:00:00,7.0,2016.0,7.277276,214.0,1.0,panArctic